*{
    font-family: Helvetica;
}

body{
    background-color: #3aafa9;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1{
    font-size: 32px;
    color: #feffff;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    height: 80px;
}

.button_store {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #17252a;
    border-color: #17252a;
    color: #feffff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 0px;
    width: 120px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

button:hover {
    background-color: #feffff;
    border-color: #17252a;
    border-width: 1px;
    transition-duration: 0.5s;
    color: #17252a;
    cursor: pointer;
  }

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 510px;
    margin-top: 35px;
    width: auto;
    margin-bottom:65px;
}

#etch_box{
    display:flex;
    flex-direction: column;
    border: solid #17252a;
    border-width: 5px;
    height: 500px;
    width:500px;
    justify-content: space-between;
}

#variable_store{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.displayText {
    color: #17252a;
    font-size: 20px;
}

.etchRow{
    display:flex;
    flex-direction: row;
    border: solid black;
    border-width: 1px;
}

.etchSquare{
    display: flex;
    flex-direction: column;
    border: solid black;
    border-width: 1px;
}

footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #17252a;
    color:#feffff;
    justify-content: center;
    align-items: center;
}