*{
    font-family: Helvetica;
}

body{
    background-color: #3aafa9;
}

h1{
    font-size: 32px;
    color: #feffff;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

button {
    background-color: #17252a;
    border: none;
    color: #feffff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 0px;
    width: 120px;
    height: 30px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 510px;
    margin-top: 50px;
    width: auto;
}

#etch_box{
    display:flex;
    flex-direction: column;
    border: solid #17252a;
    border-width: 5px;
    height: 500px;
    width:500px;
    justify-content: space-between;
}

.etchRow{
    display:flex;
    flex-direction: row;
    border: solid black;
    border-width: 1px;
}

.etchSquare{
    display: flex;
    flex-direction: column;
    border: solid black;
    border-width: 1px;
}

